.container {
    --accent: var(--color-text);
    --bg: var(--color-butter);

    appearance: none;
    border: 2px solid var(--accent);
    box-shadow: 4px 4px var(--accent);
    background-color: var(--bg);
    font-size: var(--step--1);
    padding: 0.5em 1em;
    font-weight: bold;
    font-family: inherit;

    cursor: pointer;

    &:hover {
        translate: 2px 2px;
        box-shadow: 2px 2px var(--accent);
    }

    &:active {
        translate: 4px 4px;
        box-shadow: none;
    }
}

.container.isPrimary {
    --accent: var(--color-link);
}

.container[disabled] {
    opacity: 0.5;
    pointer-events: none;
}
