.dialog {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  display: block;
  padding: 10px;
  border: none;
  overflow: hidden;
  border-radius: 10px;
}

.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.closeButton {
  position: absolute;
  right: 10px;
}
